body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    margin: 0;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #000033;
    padding: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.header img.logo {
    width: 50px;
    height: auto;
}

.header h1 {
    color: white;
    font-size: 24px;
    margin: 0;
    margin-right: 950px;
}

.dashboard {
    display: flex;
    width: 100%;
    height: calc(100vh - 60px);
}

.sidebar {
    width: 250px;
    background-color: whitesmoke;
    padding-top: 5px;
    height: 135%;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
}

.sidebar ul {
    list-style-type: none;
    padding: 0;
}

.sidebar ul li {
    margin: 0;
}

.sidebar ul li a {
    color: black;
    text-decoration: none;
    font-size: 18px;
    display: flex;
    align-items: center;
    padding: 10px;
    transition: background-color 0.3s;
}

.sidebar ul li a i {
    margin-right: 10px;
}

.sidebar ul li a:hover {
    background-color: #495057;
    color: white;
}
.content {
    padding: 20px;
    width: 100%;
}

.widgets {
    display: flex;
    justify-content: space-between;
}

.widget {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    width: 30%;
}

.widget h2 {
    font-size: 20px;
    margin-bottom: 15px;
}

.widget p {
    font-size: 24px;
    font-weight: bold;
}

.charts {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}

.chart-container {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    width: 48%;
}

.activity-feed ul {
    list-style: none;
    padding: 0;
}

.activity-feed ul li {
    background-color: #f8f9fa;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 4px;
}

.bookings-list table {
    width: 100%;
    margin-top: 30px;
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.gallery-overview {
    margin-top: 30px;
}

.gallery-overview h2 {
    font-size: 22px;
    margin-bottom: 15px;
}

.gallery {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
}

.gallery a {
    width: 23%;
}

.gallery img {
    width: 100%;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
