body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    margin: 0;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #000033;
    padding: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    /* position: fixed; 
    top: 0; */
}

.header img.logo {
    width: 50px;
    height: auto;
}

.header h1 {
    color: white;
    font-size: 24px;
    margin: 0;
    margin-right: 755px;
}

.dashboard {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: calc(100vh - 60px);
}

.sidebar {
    width: 250px;
    background-color: whitesmoke;
    padding-top: 5px;
    height: 380%;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
}

.sidebar ul {
    list-style-type: none;
    padding: 0;
}

.sidebar ul li {
    /* padding: 10px 15px; */
    margin: 0;
}

.sidebar ul li a {
    color: black;
    text-decoration: none;
    font-size: 18px;
    display: flex;
    align-items: center;
    padding: 10px;
    transition: background-color 0.3s;
}

.sidebar ul li a i {
    margin-right: 10px;
}

.sidebar ul li a:hover {
    background-color: #495057;
    color: white;
}

.super-admin {
    display: none; 
}

.content {
    flex: 1;
    padding: 40px;
    background-color: #fff;
    box-shadow: -2px 0 5px rgba(0, 0, 0, 0.1);
    overflow-y: auto;
    height: 115vh; 
}

.content h1 {
    font-size: 28px;
    color: #343a40;
    margin-top: 0;
}

.dashboard-overview {
    margin-top: 20px;
}

/* Additional CSS for Photographer List and Photos */
.photographers-list {
    margin-top: 20px;
}

.photographers-list ul {
    padding: 0;
    list-style-type: none;
}

.photographers-list ul li {
    margin-bottom: 10px;
}

.photographers-list ul li a {
    color: #000033;
    font-size: 18px;
    text-decoration: none;
}

.photographers-list ul li a:hover {
    color: #343a40;
}

.photos-gallery {
    margin-top: 30px;
}

.photos-gallery #photos-container img {
    max-width: 150px;
    margin: 10px;
    display: inline-block;
    border-radius: 10px;
    transition: transform 0.3s ease;
}

.photos-gallery #photos-container img:hover {
    transform: scale(1.05);
}