body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    margin: 0;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.header {
    display: flex;
    align-items: center;
    justify-content: start;
    background-color: #000033;
    padding: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    position: fixed; 
    width: 100%;
    top: 0;
    gap: 1em;
}

.header img.logo {
    width: 50px;
    height: auto;
}

.header h1 {
    color: white;
    font-size: 24px;
    margin: 0;
}

.dashboard {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: calc(100vh - 60px);
}

.sidebar {
    width: 250px;
    background-color: whitesmoke;
    padding-top: 5px;
    margin-top: 5.5em;
    height: 390%;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
    padding-left: 1.5em;
    /* position: fixed;  */
}

.sidebar ul {
    list-style-type: none;
    padding: 0;
}

.sidebar ul li {
    /* padding: 10px 15px; */
    margin: 0;
}

.sidebar ul li a {
    color: black;
    text-decoration: none;
    font-size: 18px;
    display: flex;
    align-items: center;
    padding: 10px;
    transition: background-color 0.3s;
}

.sidebar ul li a i {
    margin-right: 10px;
}

.sidebar ul li a:hover {
    background-color: #495057;
    color: white;
}

.super-admin {
    display: none; 
}

.content {
    flex: 1;
    padding: 40px;
    background-color: #fff;
    box-shadow: -2px 0 5px rgba(0, 0, 0, 0.1);
    height: 115vh;
    margin-top: 4em;
}

.content h1 {
    font-size: 28px;
    color: #343a40;
    margin-top: 0;
}

.dashboard-overview {
    margin-top: 20px;
}

.archive-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.archive-card {
    flex: 1 1 48%; /* Two cards per row */
    background-color: #ffffff;
    border: 1px solid #d3d3d3;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
    border-radius: 8px;
    padding: 20px;
    margin-bottom: 20px;
}

.archive-card h2 {
    font-size: 20px;
    margin-bottom: 15px;
    color: #333;
    border-bottom: 2px solid #555;
    padding-bottom: 5px;
}

.table {
    width: 100%;
    margin-bottom: 0;
    font-size: 14px;
    color: #333;
}

.table thead th {
    background-color: #f8f9fa;
    font-weight: bold;
}

.table tbody tr:hover {
    background-color: #f1f1f1;
}